@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}
/* linear-gradient(to right, rgb(146, 59, 114), purple); */

body {
  font-family: "Poppins", serif;
  background-color: #f4f4f4;
  margin-top: 75px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
}
.heading h1 {
  color: rgb(146, 59, 114);
  position: relative;
}
.heading h1::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, rgb(146, 59, 114), purple);
  border-radius: 5px;
  width: 100%;
  height: 5px;
}
.nav-wrapper {
  background-color: #f4f4f4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}
.navbar {
  /* overflow: hidden; */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  background: linear-gradient(to right, rgb(146, 59, 114), purple);
  border-radius: 20px;
  margin-inline: 8px;
  margin-top: 8px;
}

.navbar .nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-left: -9vw;
}
.navbar .nav-container .nav-link {
  color: white;
  text-decoration: none;
  font-size: 14px;
  position: relative;
}
.navbar .nav-container .nav-link::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  content: " ";
  background-color: white;
  width: 0%;
  height: 2px;
  transition: width 0.3s ease-in-out;
}

.nav-container .nav-link:hover:after {
  width: 100%;
}

.logo-text {
  display: flex;
  align-items: center;
  font-family: "Borel";
  color: white;
}
.logo-text .image-container {
  width: 60px;
  border-radius: 10px;
}

.logo-text .faroha-text-container {
  margin-top: 10px;
  margin-inline: 5px;
}

.cart-icon {
  font-size: 20px;
  text-decoration: none;
}

.opinion-section .main-container {
  background: linear-gradient(to right, rgb(146, 59, 114), purple);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 80px;
  color: white;
}
.opinion-section .main-container .left {
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opinion-section .main-container .left .center {
  width: 70%;
}

.opinion-section .main-container .left .center form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.opinion-section .main-container .left .center .form-cell input,
.opinion-section .main-container .left .center .form-cell textarea {
  width: 100%;
  padding: 10px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.opinion-section .main-container .left .center form .bottom {
  display: flex;
  justify-content: end;
}
.opinion-section .main-container .left .center form .bottom button {
  background-color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.opinion-section .main-container .left .center form .bottom button:hover {
  background: linear-gradient(to right, rgb(146, 59, 114), purple);
  color: white;
}

.opinion-section .main-container .right {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.opinion-section .main-container .right img {
  width: 50%;
  border-radius: 20px;
}

.menu-section {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
  padding-inline: 80px;
  color: white;
  background-size: cover;
}

.menu-section .menu-card {
  width: 220px;
  background: linear-gradient(to right, rgb(146, 59, 114), purple);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px black;
  margin: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.menu-section .menu-card .top img {
  width: 200px;
  height: 133px;
  border-radius: 10px;
}
.menu-section .menu-card .bottom {
  color: white;
}

.menu-section .menu-card .bottom .bottom-top p {
  font-size: 12px;
}
.menu-section .menu-card .bottom .bottom-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-section .menu-card .bottom .bottom-bottom .cart-button {
  background-color: white;
  color: rgb(146, 59, 114);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.menu-section .menu-card .bottom .bottom-bottom .cart-button:hover {
  background-color: rgb(146, 59, 114);
  color: white;
}
.menu-section .menu-card .bottom .bottom-bottom p {
  background-color: linear-gradient(to right, rgb(146, 59, 114), purple);
  border-radius: 50px;
  padding-inline: 10px;
  padding-block: 5px;
  color: white;
  font-size: 14px;
  text-align: center;
}

footer {
  padding: 20px 100px;
  background: hsl(300, 45%, 78%);
  color: black;
}

footer .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer .container .about-us h2 {
  position: relative;
  color: black;
  font-weight: 600;
  margin-bottom: 15px;
}

footer .container .about-us p {
  color: black;
  font-size: 16px;
  line-height: 1.8;
  margin-top: 10px;
  text-align: justify;
}
footer .container .scl {
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(4, 50px);
}

footer .container .scl li {
  list-style: none;
}
footer .container .scl li a {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: linear-gradient(to right, rgb(146, 59, 114), purple);
  display: grid;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
}
footer .container .scl li a i {
  color: white;
  font-size: 20px;
}
footer .container .scl li a i:hover {
  transition: color 0.3s ease-in-out;
}

footer .container .working-hours ul {
  list-style: none;
  margin-top: 15px;
}
footer .container .working-hours ul li span {
  font-style: italic;
}
footer .container .quick-links ul {
  margin-top: 15px;
  list-style: none;
}
footer .container .quick-links ul li a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
footer .container .quick-links ul li a:hover {
  color: rgb(100, 34, 76);
  transition: color 0.3s ease-in-out;
}

footer .container .contact-us ul {
  margin-top: 15px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .container .contact-us ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .container .contact-us ul li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
footer .container .contact-us ul li a:hover {
  color: white;
  transition: color 0.3s ease-in-out;
}

footer .container .contact-us ul li i {
  color: white;
  border-radius: 50%;
  background-color: rgb(115, 5, 76);
  padding: 5px;
}

.states .container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding-block: 10px;
  background: linear-gradient(to right, rgb(146, 59, 114), purple);
  color: white;
}
.states .container .cell {
  display: flex;
  align-items: center;
  gap: 20px;
}

.states .container .cell .left i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 25px;
  border: 1px solid #ddd;
  transition: 0.3s ease;
}

.states .container .cell .left i:hover {
  background-color: white;
  color: rgb(216, 113, 170);
}

.states .container .cell .right h2 {
  font-size: 30px;
}

.landing-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background: whitesmoke;
  color: black;
  padding-inline: 80px;
}
.landing-section .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.landing-section .left h1 {
  font-size: 60px;
  margin-bottom: 20px;
  font-family: "borel", sans-serif;
}
.landing-section .left p {
  font-size: 20px;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
  color: rgb(154, 24, 115);
}
.landing-section .left .btn {
  background-color: white;
  color: rgb(146, 59, 114);
  border: none;
  border-radius: 20px;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  text-decoration: none;
}
.landing-section .left .btn:hover {
  background-color: rgb(146, 59, 114);
  color: white;
}
.landing-section .right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-section .right img {
  width: 80%;
  border-radius: 20px;
}

.bottom .container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #383838ba;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 999999;
}

.popup {
  width: 350px;
  background: rgb(224, 221, 221);
  border-radius: 6px;
  text-align: center;
  padding: 0 30px 30px;
  color: black;
}
.bottom .openpopup {
  visibility: visible;
}

.popup img {
  width: 70px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}
.popup p {
  font-size: 18px;
  color: rgba(133, 2, 126, 0.797);
  margin-top: 30px;
}

.popup button {
  width: 100px;
  margin-top: 50px;
  padding: 10px 0;
  background: white;
  color: black;
  border: 0;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup button:hover {
  background: linear-gradient(to right, rgb(146, 59, 114), purple);
}
